header {
    position: relative;
}

.main-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(90vh - 100px);

    h1 {
        margin: 0;
        text-align: center;
    }

    .subheading {
        text-align: center;
    }

    .hero-lambda {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        pointer-events: none;
        user-select: none;
    }
}

.blog-header {
    height: 450px;
    // background-color: $color-primary;
    border-radius: $radius-big;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: $grid-gap;

    h1 {
        margin: 0;
        text-align: center;
        width: 80%;
    }

    &::before {
        content: '';
        background: url("../../../public/assets/img/noise.png") repeat,
            conic-gradient($color-gray 40%, $color-primary, $color-secondary, $color-bg);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        left: 50%;
        bottom: 50%;
        transform: scale(2);
        mix-blend-mode: multiply;
        image-rendering: pixelated;
        pointer-events: none;
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-bg;
        pointer-events: none;

        &::before {
            content: '';
            position: absolute;
            top: -100px;
            left: 0;
            width: 100px;
            height: 100px;
            background-color: transparent;
            border-bottom-left-radius: $radius-big;
            box-shadow: 0 20px 0 $color-bg;
        }

        &::after {
            content: '';
            position: absolute;
            top: -100px;
            right: 0;
            width: 100px;
            height: 100px;
            background-color: transparent;
            border-bottom-right-radius: $radius-big;
            box-shadow: 0 20px 0 $color-bg;
        }
    }
}

@media (max-width: $tablet-landscape) {
    .blog-header {
        h1 {
            width: 100%;
        }
    }
}