nav[aria-label="main-navigation"] {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links {
        display: flex;
        align-items: center;

        a {
            margin-left: 16px;
            border-radius: $radius-small;
            color: $color-gray;

            &:not(:last-child) {
                padding: 12px 26px;
            }

            &.active, &:last-child, &:hover {
                color: $color-text;
            }
        }
    }
}

nav[aria-label="breadcrumbs"] {
    height: 35px;
    margin-bottom: -35px;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    
    ol {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        grid-column: 1/-1;
        
        li {
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            
            &::before {
                content: '>';
                padding: 0 8px;
                color: $color-gray;
            }
        }
    }
}