#portfolio-section {
    .projects {
        display: flex;
        flex-direction: column;
        gap: calc($grid-gap * 2);

        .project {
            display: flex;
            gap: $grid-gap;
            height: 500px;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }

            .cover {
                border-radius: $radius-big;
                flex: 2;
            }

            .content {
                flex: 1;
                height: inherit;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .links {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: $grid-gap;

                    a {
                        margin-right: 10px;
                    }
                }
            }
        }

        .demo {
            width: 100%;
            overflow: hidden;
            margin-bottom: calc($grid-gap*4);

            .container {
                opacity: .7;
                display: flex;
                gap: $grid-gap;
                width: 50%;
                height: 200px;
                
                .cover {
                    flex: 1;
                    border-radius: $radius-big;
                }
            }
        }
    }
}

.socials-section {
    .container {
        display: flex;
        justify-content: space-between;
        gap: $grid-gap;
        flex-wrap: wrap;

        a {
            min-width: 150px;
            height: 200px;
            background-color: $color-secondary;
            border-radius: $radius-big;
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            transition: $global-transition background;

            &:hover {
                background-color: $color-primary;
            }
        }
    }
}

.say-hello-section {
    overflow: hidden;
    gap: 0;

    .image-container {
        position: relative;
        height: 300px;
        
        p {
            color: $color-primary;
            font-size: $fontsize-h2;
            margin: 0;
            line-height: 1;
            letter-spacing: 30px;
            position: absolute;
            
            &:first-child {
                text-align: left;
                width: 200%;
                left: 20px;
            }
            &:last-child {
                text-align: right;
                width: 200%;
                right: 0;
                bottom: 0;
            }
        }

        img {
            z-index: -1;
            border-radius: $radius-big;
        }
    }

    .primary-button {
        grid-column: 4/-4;
        margin-top: $grid-gap;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 5px;
        }
    }

    p {
        text-align: center;
    }
}

#about-me {
    .container {
        display: flex;
        gap: $grid-gap;

        .image-container {
            position: relative;
            height: 400px;
            flex: 3;

            img {
                border-radius: $radius-big;
            }
        }

        .content {
            flex: 2;
            // max-width: 800px;
            // margin: 0 auto;
        }
    }
}

#what-i-do, #at-work, #more-about-me, #get-in-touch {
    h3 {
        margin-top: $grid-gap;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: $grid-gap;

        .item {
            width: auto;
            flex: 1;
            min-width: 300px;
            background-color: $color-secondary;
            padding: $grid-gap;
            border-radius: $radius-big;
        }
    }
}

#background-section, #about-me {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

section h2 {
    margin-top: 100px;
}

@media (max-width: $desktop-entry) {
    #portfolio-section {
        .projects {
            .project {
                .cover {
                    flex: 4;
                }

                .content {
                    flex: 3;
                }
            }
        }
    }
}

@media (max-width: $tablet-landscape) {
    #portfolio-section {
        .projects {
            .project, .project:nth-child(even) {
                flex-direction: column;
                height: auto;
                gap: 0;
            }
        }
    }
}

@media (max-width: $tablet-portrait) {
    #about-me {
        .container {
            flex-wrap: wrap;

            .image-container {
                min-width: 100%;
            }
        }
    }

    .socials-section {
        .container {
            a {
                min-width: 120px;
                height: 120px;
            }
        }
    }
}