.post-content {
  p {
    line-height: 1.8;

    &:has(.post-image) {
      color: $color-gray;
      font-style: italic;
      font-size: $fontsize-fineprint;
    }
  }
}

.post-image {
  display: block;
  position: relative;
  height: auto;
  width: calc(100% + ($grid-gap*2));
  transform: translateX(-$grid-gap);
  margin: 0;

  img {
    border-radius: $radius-medium;
    width: 100%;
    height: auto;
  }
}

// Example for dark code blocks
.code-block {
  color: $color-bg;
  background-color: $color-text;
  border-radius: $radius-small;
  font-size: $fontsize-fineprint;
  overflow-x: scroll;
  padding: $grid-gap;
}

// Inline code styling
:not(.code-block) > .inline-code {
  background-color: $color-bg;
  padding: 2px 4px;
  border: 1px solid $color-gray;
  border-radius: 3px;
  font-size: $fontsize-fineprint;
}

blockquote {
  position: relative;
  // background-color: $color-secondary;
  margin: 0;
  padding-left: $grid-gap;
  // line-height: 1.5;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: $color-gray;
  }
}

hr {
  border: none;
  height: 1px;
  background-color: $color-gray;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: $fontsize-body;
  text-align: left;

  th {
    background-color: $color-secondary;
  }
  
  th, td {
    border: 1px solid $color-gray;
    padding: 10px;
  }
}

.contains-task-list {
  list-style: none;
  padding-inline-start: 20px;

  .task-list-item {
    .checkbox {
      display: none;
    }
  }
}

ul, ol {
  padding-inline-start: 30px;
}

.markdown-toggle {
  & summary:hover { cursor: pointer; }
}

.markdown-columns {
  display: grid;
  gap: $grid-gap;

  &.col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &.col-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &.col-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.table-wrapper {
  overflow-x: auto;
  margin: 2rem 0;
}

.markdown-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  text-align: left;
  border-bottom: 2px solid #ccc;
  padding: .75rem;
}

.table-cell {
  padding: .75rem;
  border-bottom: 1px solid #ddd;
}

@media (max-width: $tablet-landscape) {
  .post-image {
    width: 100%;
    transform: translateX(0);
  }
}

@media (max-width: $mobile-landscape) {
  .markdown-columns {
    grid-template-columns: 1fr !important;
  }
}

// --------------------------- HIGHLIGHT JS ---------------------------
/* Comment and quote styling */
.hljs-comment,
.hljs-quote {
  color: $color-gray;
  font-style: italic;
}

/* Keywords and important syntax */
.hljs-keyword,
.hljs-selector-tag,
.hljs-name {
  color: $color-gray;
}

/* Literals, symbols, and variables */
.hljs-literal,
.hljs-symbol,
.hljs-variable,
.hljs-attr {
  color: $color-secondary;
}

/* String values, titles, and sections */
.hljs-string,
.hljs-title,
.hljs-section {
  color: #98c379;
}

/* Numbers, booleans, and attributes */
.hljs-attribute {
  color: $color-gray;
}

.hljs-selector-id,
.hljs-selector-class,
.hljs-built_in,
.hljs-number,
.hljs-function,
.hljs-title.function_ {
  color: #e5c07b;
}

/* Class names and tags */
.hljs-class .hljs-title,
.hljs-type,
.hljs-tag {
  color: #e06c75;
}