body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0 26px;
    // margin: 0 95px;
    margin: 0 40px;

    & > * {
        grid-column: 1/-1;
    }
}

nav {
    grid-column: 1/-1;
}

main {
    // grid-column: 2/-2;

    display: inherit;
    grid-template-columns: inherit;
    grid-auto-rows: auto;
    gap: inherit;

    & > * {
        grid-column: 1/-1;

        display: inherit;
        grid-template-columns: inherit;
        grid-auto-rows: auto;
        gap: inherit;

        & > * {
            grid-column: 2/-2;
        }
    }
}

article {
    & > * {
        grid-column: 3/-3;
    }
}

footer {
    display: inherit;
    grid-template-columns: inherit;
    grid-template-rows: 1fr 50px;
    gap: inherit;
}