// ---------- THEME ----------
$color-primary: #FFBB98;
$color-secondary: #F3EFE5;
$color-gray: #77B1A3;
$color-text: #000000;
$color-bg: #FDFBF5;

// ---------- FONT ----------
$font-stack: 'Roboto', sans-serif;