// ---------- THEME ----------
$color-primary: #FFBB98;
$color-secondary: #F3EFE5;
$color-gray: #77B1A3;
$color-text: #000000;
$color-bg: #FDFBF5;

// ----------- FONT -----------
$font-display: 'Syne', sans-serif;
$font-text: 'Inter', sans-serif;

// --------- FONT SIZE ---------
$fontsize-title: 144px;
$fontsize-h1: 96px;
$fontsize-h2: 30px;
$fontsize-h3: 22px;
$fontsize-subheading: 20px;
$fontsize-body: 16px;
$fontsize-fineprint: 14px;

// ---------- SPACING ----------
$x1: 16px;
$x2: 32px;
$x3: 48px;
$x4: 64px;

$radius-small: 5px;
$radius-big: 20px;

$grid-gap: 26px;

// ---------- MIXINS ----------
@mixin primary-button {
    background-color: $color-primary;
    border: 2px solid $color-text;
    padding: 10px 26px;
    border-radius: 5px;
    text-align: center;

    &:hover {
        background-color: $color-secondary;
    }

    &:active {
        background-color: $color-gray;
    }
}

@mixin secondary-button {
    background-color: $color-bg;
    border: 2px solid $color-text;
    padding: 10px 26px;
    border-radius: 5px;
    text-align: center;

    &:hover {
        background-color: $color-secondary;
    }

    &:active {
        background-color: $color-gray;
    }
}