html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-bg;
    overflow-x: hidden;
}

::selection {
    background-color: rgba($color-primary, .6);
    color: $color-text;
}