// ---------- THEME ----------
$color-primary: #FFBB98;
$color-secondary: #F3EFE5;
// $color-gray: #77B1A3;
// have separate gray text/gray graphics?
$color-gray: #447E70;
$color-text: #2D2D2D;
$color-bg: #FDFBF5;

// ----------- FONT -----------
$font-display: var(--font-syne, sans-serif);
$font-text: var(--font-inter, sans-serif);

// --------- FONT SIZE ---------
:root {
    --dynamic-fontsize-title: 96px;
    --dynamic-fontsize-h1: 60px;
    --dynamic-fontsize-h2: 30px;
    --dynamic-fontsize-h3: 22px;
    --dynamic-fontsize-h4: 20px;
    --dynamic-fontsize-subheading: 20px;
    --dynamic-fontsize-body: 16px;
    --dynamic-fontsize-fineprint: 14px;
}

$fontsize-title: var(--dynamic-fontsize-title);
$fontsize-h1: var(--dynamic-fontsize-h1);
$fontsize-h2: var(--dynamic-fontsize-h2);
$fontsize-h3: var(--dynamic-fontsize-h3);
$fontsize-h4: var(--dynamic-fontsize-h4);
$fontsize-subheading: var(--dynamic-fontsize-subheading);
$fontsize-body: var(--dynamic-fontsize-body);
$fontsize-fineprint: var(--dynamic-fontsize-fineprint);

// ---------- SPACING ----------
$x1: 16px;
$x2: 32px;
$x3: 48px;
$x4: 64px;

$radius-small: 5px;
$radius-medium: 10px;
$radius-big: 25px;

$grid-gap: 26px;

// ----------- OTHER -----------
$global-transition: .1s;

// ---------- MIXINS ----------
@mixin primary-button {
    background-color: $color-primary;
    border: 2px solid $color-text;
    padding: 10px 26px;
    border-radius: 5px;
    text-align: center;
    transition: $global-transition background;

    &:hover {
        background-color: $color-secondary;
    }

    &:active {
        background-color: $color-gray;
    }
}

@mixin secondary-button {
    background-color: $color-bg;
    border: 2px solid $color-text;
    padding: 10px 26px;
    border-radius: 5px;
    text-align: center;

    &:hover {
        background-color: $color-secondary;
    }

    &:active {
        background-color: $color-gray;
    }
}

// ---------- BREAKPOINTS ----------
$mobile-portrait: 480px;
$mobile-landscape: 600px;
$tablet-portrait: 868px;
$tablet-landscape: 1024px;
$desktop-entry: 1280px;

// --------- MEDIA QUERIES ---------
@media (max-width: $tablet-landscape) {
    :root {
        --dynamic-fontsize-title: 84px;
        --dynamic-fontsize-h1: 72px;
    }
}

@media (max-width: $tablet-portrait) {
    :root {
        --dynamic-fontsize-title: 54px;
        --dynamic-fontsize-h1: 48px;
    }
}